.error-msg {
    color: yellow;
    font-weight: bold;
    font-style: italic;
}

body{
    background: #777;
    color: #fff; 
}
.wrapper{
    width: 680px;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 8em;
}
input[type="text"]{
    width: 100%;
    border: none;
    padding: 1em 0.5em;
    border-radius: 3px;
}
a{
    color: #ccc;
}